.container{
    text-align: center;
}
table{
    margin: auto;
}
input{
    width:185px;
    height:25px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(233, 217, 196);
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}
button{
    margin:2px;
    width:45px;
    height:40px;
    border-radius: 10px;
    background-color: rgb(127, 236, 105);
}
.calculator{
    padding:6px;
    display: inline-block;
    background-color: rgb(255, 218, 226);
    border-radius: 10px;
   
    border: 2px solid rgb(152, 201, 152);
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}